#main-container {
    padding: 0;
}

.jumbotron {
    background-color: aqua;
}

#chatroom-container {
    background-color: gray;
}

#input_zone {
    margin: 2rem;
}

#send_message {
    float: right;
    margin-bottom: 1rem;
}

.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}